

div.body-content-container {
	#background-color: brown;
	width: 80%;
	margin: auto;
}

div.navbar {
	background-color: lightgray;
	padding: 0.5%;
	margin: 1%;
}

a.nav-link {
	background-color: lightblue;
	font-size: 1.7vw;
	border: solid 0.1em black;
	padding-left: 0.4em;
	padding-right: 0.4em;
}

a.nav-brand {
	font-size: 2vw;
	padding: auto;
	padding-left: 0.2em;
	padding-right: 0.2em;
	background-color: white;
}

body {
	#background-color: orange;
}

div.navbar {
	width: 100%;
}
